<%if params[:error]%>
  <p>Error: <%= params[:error] %></p>
<%end%>

<% unless @all_posts.nil? %>
  <ol>
  <%sorted_posts = @all_posts.sort_by {|post| -post.count}%>
  <% sorted_posts.each do |post| %>
    <li><a href="<%=post.url%>"><%=post.title%></a><% if current_user%><form action="/post/<%=post.id%>/vote" method="POST"><%if post.voters.include?(current_user)%><input class ="vote" type="submit" value="Voted"><%else%><input class ="vote" type="submit" value="Vote"><%end%></form><%end%><br><p>Votes:<span><%=post.count%></span> | Submitted by: <%=post.user.name%> at <%=post.created_at.strftime("%Y-%m-%d")%>| <a href="/post/<%=post.id%>">Comments: <%=post.comments.size%></a></p></li>
  <%end%>
  </ol>
<%end%>


